

<!-- Add Module Modal -->
<div id="moduleModal" class="modal">
    <div class="modal-overlay" data-action="close-modal" data-target="moduleModal"></div>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="moduleModalTitle">Add Module</h3>
            <button type="button" class="modal-close" data-action="close-modal" data-target="moduleModal">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <form id="moduleForm">
                <input type="hidden" id="moduleIdInput" name="ModuleId" value="0" />
                <input type="hidden" id="courseIdInput" name="CourseId" value="@Model.CourseId" />

                <div class="form-group">
                    <label for="moduleTitleInput" class="form-label">Module Title *</label>
                    <input type="text" id="moduleTitleInput" name="ModuleTitle" class="form-input" placeholder="Enter the module name" required />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary danger" data-action="close-modal" data-target="moduleModal">Cancel</button>
            <button type="button" class="btn btn-primary" data-action="save-module">Save Module</button>
        </div>
    </div>
</div>
