@using Web.ViewModels.Account
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<!-- Background Grid -->
<div class="grid-background"></div>

    <!-- Auth Container -->
    <div class="auth-container centered">
        <div class="auth-form-section full-width">
            <div class="auth-form-container small">

                <!-- Logo -->
                <a href="../../index.html" class="logo-centered">
                    <div class="logo-icon-large"></div>
                    <span class="logo-text-large">Masar</span>
                </a>

                <!-- Icon -->
                <div class="form-icon">
                    <i class="fas fa-key"></i>
                </div>

                <!-- Form Header -->
                <div class="form-header centered">
                    <h2 class="form-title">Reset Password</h2>
                </div>

                <!-- Forgot Password Form -->
                <form class="auth-form" id="forgotPasswordForm" asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Token" />
                    <input type="hidden" asp-for="Email" />
                    <div class="form-group">
                        <label asp-for="Password" class="form-label"><i class="fas fa-lock"></i> Password</label>
                        <input asp-for="Password" class="form-input" placeholder="Enter Your Password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="form-label"><i class="fas fa-lock"></i> Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-input" placeholder="Enter Your Password"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-large">
                        <i class="fas fa-paper-plane"></i>
                        <span>Change Password</span>
                    </button>
                </form>

                <!-- Back to Login -->
                <div class="form-footer">
                    <a asp-controller="Account" asp-action="Login" class="link-with-icon">
                        <i class="fas fa-arrow-left"></i>
                        <span>Back to Login</span>
                    </a>
                </div>
            </div>
        </div>
</div>

